@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: #333;
}

.navbar {
  font-size: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
}

.navbar h1 {
  color: #f80;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 16px;
}

.navbar a:hover {
  color: #f80;
  font-weight: bold;
  border-radius: 8px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/*Blog Previews*/

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: rgba(231, 190, 190, 0.991) 0px 2px 4px,
    rgba(191, 237, 175, 0.913) 0px 7px 13px -3px,
    rgba(167, 168, 220, 0.913) 0px -3px 0px inset;
}
.blog-preview h2 {
  font-size: 20px;
  color: #f80;
  margin-bottom: 8px;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #f80;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.blog-preview a {
  text-decoration: none;
}
/*Blog Details Page*/
.blog-details h2{
  font-size: 20px;
  color: #f80;
  margin-bottom: 10px;
}

.blog-details div{
  margin: 20px 0;
}

.blog-details button {
  background-color: #f80;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f80;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f80;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/*404 Page*/
